@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FarAwayGalaxy';
    src: url('/fonts/FarAwayGalaxy/FarAwayGalaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

h1, h2, h3, h4, h5{
    font-family: 'FarAwayGalaxy', sans-serif;
}

.dark{
    background-color: #010712;
}

html{
    background-color: #eeeeee;
}

/* [theme="custom-light"] {
    background: #eeeeee;
    color: #101010;
} */